In [76]:
import pandas as pd 
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import warnings
from dashboard_one import *
warnings.filterwarnings("ignore", category=FutureWarning)

In [2]:
com_col = ['Phase','RID','VISCODE']   # common columns

In [135]:
# check if one of the keyword is in a string
def key_in_str(key_list,str):
    if any(word in str for word in key_list):
        new_val = 1
    else: new_val = 0
    return new_val

# generate a new column with value: 1 if a row includes one of the keywords, 0 if not includes
def new_col_with_key(df,key_list,new_col):
    #df = pd.read_csv(file,sep=';')
    df = df.astype('string')
    df['new'] = df[df.columns].apply(lambda x: '_'.join(x.dropna()), axis=1)
    L = []
    for str in df['new']:
        L.append(key_in_str(key_list,str))
    df[new_col] = L
    return df[com_col + [new_col]]

def drop_char(df,col): # drop the row where strings in a column cant be converted to number, and convert the rest to integer
    dff = df.copy()
    col_lst = dff[col].tolist() # extract the column to be a list
    index_lst = []  # index_l to store the index which should be droped
    for i in range(len(col_lst)):  
        if pd.notna(col_lst[i]): 
            str_ = col_lst[i]
            try:
                int(str_)
            except (RuntimeError, TypeError, NameError,ValueError):
                index_lst.append(i)  
    dff = dff.drop(index_lst)
    
    lst = dff[col].to_list()
    int_lst = []
    for i in range(len(lst)):
        to_int = int(lst[i])
        int_lst.append(to_int)
    dff[col] = int_lst
    return dff.reset_index().drop(['index'])

def char_float_na(df,col): # replace the strings in a column which cant be converted to float number, and convert the rest to float
    dff = df.copy()
    col_lst = dff[col].tolist() # extract the column to be a list
    index_lst = []  # index_l to store the index which should be droped
    for i in range(len(col_lst)):  
        if pd.notna(col_lst[i]): 
            str_ = col_lst[i]
            try:
                float(str_)
            except (RuntimeError, TypeError, NameError,ValueError):
                dff=dff.replace({str_:np.NaN})
    return dff

### 1 NPI

#### NPI.csv

In [4]:
npi_1 = pd.read_csv('NPI.csv').dropna(subset = ['RID'])
pd.set_option('display.max_columns', None)
npi_1.head(2)

,Phase,ID,RID,SITEID,VISCODE,VISCODE2,USERDATE,USERDATE2,EXAMDATE,NPISOURC,SPID,NPIA,NPIA1,NPIA2,NPIA3,NPIA4,NPIA5,NPIA6,NPIA7,NPIA8,NPIA9,NPIA10A,NPIA10B,NPIA10C,NPIATOT,NPIB,NPIB1,NPIB2,NPIB3,NPIB4,NPIB5,NPIB6,NPIB7,NPIB8A,NPIB8B,NPIB8C,NPIBTOT,NPIC,NPIC1,NPIC2,NPIC3,NPIC4,NPIC5,NPIC6,NPIC7,NPIC8,NPIC9A,NPIC9B,NPIC9C,NPICTOT,NPID,NPID1,NPID2,NPID3,NPID4,NPID5,NPID6,NPID7,NPID8,NPID9A,NPID9B,NPID9C,NPIDTOT,NPIE,NPIE1,NPIE2,NPIE3,NPIE4,NPIE5,NPIE6,NPIE7,NPIE8A,NPIE8B,NPIE8C,NPIETOT,NPIF,NPIF1,NPIF2,NPIF3,NPIF4,NPIF5,NPIF6,NPIF7,NPIF8A,NPIF8B,NPIF8C,NPIFTOT,NPIG,NPIG1,NPIG2,NPIG3,NPIG4,NPIG5,NPIG6,NPIG7,NPIG8,NPIG9A,NPIG9B,NPIG9C,NPIGTOT,NPIH,NPIH1,NPIH2,NPIH3,NPIH4,NPIH5,NPIH6,NPIH7,NPIH8A,NPIH8B,NPIH8C,NPIHTOT,NPII,NPII1,NPII2,NPII3,NPII4,NPII5,NPII6,NPII7,NPII8A,NPII8B,NPII8C,NPIITOT,NPIJ,NPIJ1,NPIJ2,NPIJ3,NPIJ4,NPIJ5,NPIJ6,NPIJ7,NPIJ8A,NPIJ8B,NPIJ8C,NPIJTOT,NPIK,NPIK1,NPIK2,NPIK3,NPIK4,NPIK5,NPIK6,NPIK7,NPIK8,NPIK9A,NPIK9B,NPIK9C,NPIKTOT,NPIL,NPIL1,NPIL2,NPIL3,NPIL4,NPIL5,NPIL6,NPIL7,NPIL8,NPIL9A,NPIL9B,NPIL9C,NPILTOT,NPITOTAL,update_stamp
0,ADNI2,2,172,38,v06,m60,03/22/2011,NaN,2011-03-14,1.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,2012-11-16 11:18:17.0
1,ADNI2,4,160,38,v06,m60,03/24/2011,NaN,2011-03-15,1.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,2012-11-16 11:18:17.0

select variables

In [5]:
npi_1 = pd.concat([npi_1[com_col], npi_1.filter(regex='NPIK')], axis=1)
npi_1 = drop_char(npi_1,'RID').reset_index(drop=True)  # drop the rows where RID could not be converted to integer
npi_1 = npi_1.drop_duplicates().reset_index(drop=True).sort_values(by= ['RID'])             # drop the duplicates and sort 
npi_1   #6756 rows

,Phase,RID,VISCODE,NPIK,NPIK1,NPIK2,NPIK3,NPIK4,NPIK5,NPIK6,NPIK7,NPIK8,NPIK9A,NPIK9B,NPIK9C,NPIKTOT
1106,ADNI2,2,v11,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
173,ADNI2,2,v06,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3944,ADNI2,2,v51,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
4285,ADNI3,2,init,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2039,ADNI2,2,v21,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6598,ADNI3,7083,bl,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
6630,ADNI3,7085,bl,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
6641,ADNI3,7088,bl,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
6661,ADNI3,7092,bl,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
6739,ADNI3,7100,bl,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,3.0,1.0,0.0,3.0

In [6]:
npi_1.groupby(['RID']).count()

,Phase,VISCODE,NPIK,NPIK1,NPIK2,NPIK3,NPIK4,NPIK5,NPIK6,NPIK7,NPIK8,NPIK9A,NPIK9B,NPIK9C,NPIKTOT
RID,,,,,,,,,,,,,,,
2,6,6,6,0,0,0,0,0,0,0,0,0,0,0,6
8,4,4,4,2,2,2,2,2,2,2,2,2,2,2,4
15,1,1,1,0,0,0,0,0,0,0,0,0,0,0,1
21,7,7,7,0,0,0,0,0,0,0,0,0,0,0,7
23,4,4,4,0,0,0,0,0,0,0,0,0,0,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7083,1,1,1,0,0,0,0,0,0,0,0,0,0,0,1
7085,1,1,1,0,0,0,0,0,0,0,0,0,0,0,1
7088,1,1,1,0,0,0,0,0,0,0,0,0,0,0,1
7092,1,1,1,0,0,0,0,0,0,0,0,0,0,0,1
7100,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1

In [7]:
npi_1[npi_1['RID']==8]   # check some example, each patient could have more than 1 not-NA records, so should use RID-VISCODE as unique features

,Phase,RID,VISCODE,NPIK,NPIK1,NPIK2,NPIK3,NPIK4,NPIK5,NPIK6,NPIK7,NPIK8,NPIK9A,NPIK9B,NPIK9C,NPIKTOT
190,ADNI2,8,v06,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,2.0,0.0,6.0
1100,ADNI2,8,v11,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2081,ADNI2,8,v21,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3543,ADNI2,8,v41,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,4.0,2.0,1.0,8.0

#### NPIQ.csv

In [8]:
npi_2 = pd.read_csv('NPIQ.csv').dropna(subset = ['RID'])
pd.set_option('display.max_columns',None)
npi_2.head(2)

,Phase,ID,RID,SITEID,VISCODE,VISCODE2,USERDATE,USERDATE2,EXAMDATE,NPISOURCE,NPIA,NPIASEV,NPIB,NPIBSEV,NPIC,NPICSEV,NPID,NPIDSEV,NPIE,NPIESEV,NPIF,NPIFSEV,NPIG,NPIGSEV,NPIH,NPIHSEV,NPII,NPIISEV,NPIJ,NPIJSEV,NPIK,NPIKSEV,NPIL,NPILSEV,NPISCORE,NPDATE,update_stamp
0,ADNI1,4,2,107,bl,bl,2005-09-09,NaN,2005-09-08,1.0,0.0,-4.0,0.0,-4.0,0.0,-4.0,0.0,-4.0,0.0,-4.0,0.0,-4.0,0.0,-4.0,0.0,-4.0,0.0,-4.0,0.0,-4.0,0.0,-4.0,0.0,-4.0,0.0,NaN,2005-09-09 00:00:00.0
1,ADNI1,6,3,107,bl,bl,2005-09-13,NaN,2005-09-12,1.0,0.0,-4.0,0.0,-4.0,0.0,-4.0,0.0,-4.0,0.0,-4.0,0.0,-4.0,1.0,1.0,0.0,-4.0,0.0,-4.0,0.0,-4.0,0.0,-4.0,0.0,-4.0,1.0,NaN,2005-09-13 00:00:00.0

In [9]:
npi_2 = pd.concat([npi_2[com_col], npi_2.filter(regex='NPIK')], axis=1)
npi_2 = drop_char(npi_2,'RID').reset_index(drop=True)  #drop the rows where RID which cant be converted to integer
npi_2 = npi_2.drop_duplicates().reset_index(drop=True).sort_values(by= ['RID'])             # drop the duplicates and sort 
npi_2   # 7010 rows

       Phase   RID VISCODE  NPIK  NPIKSEV
0      ADNI1     2      bl   0.0     -4.0
6212   ADNI2     2     v22   0.0      NaN
5268   ADNI2     2     v12   0.0      NaN
4509   ADNI2     2     v07   0.0      NaN
3913  ADNIGO     2     m60   0.0      NaN
...      ...   ...     ...   ...      ...
6964   ADNI3  6924      y1   0.0      NaN
6979   ADNI3  6940      y1   0.0      NaN
6977   ADNI3  6948      y1   0.0      NaN
6990   ADNI3  6950      y1   0.0      NaN
6991   ADNI3  6987      y1   0.0      NaN

[7010 rows x 5 columns]

In [10]:
npi_merge = pd.merge(npi_1,npi_2, how = 'outer', on = com_col)   # join two dataframes
npi_merge

,Phase,RID,VISCODE,NPIK_x,NPIK1,NPIK2,NPIK3,NPIK4,NPIK5,NPIK6,NPIK7,NPIK8,NPIK9A,NPIK9B,NPIK9C,NPIKTOT,NPIK_y,NPIKSEV
0,ADNI2,2,v11,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
1,ADNI2,2,v06,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
2,ADNI2,2,v51,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
3,ADNI3,2,init,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
4,ADNI2,2,v21,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13742,ADNI3,6924,y1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
13743,ADNI3,6940,y1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
13744,ADNI3,6948,y1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
13745,ADNI3,6950,y1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
13746,ADNI3,6987,y1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN

Missing values are marked as '-4', '-1' or NaN. 

However for NPI test, if a row contains only 0 and NaN, or in another word, if a row doesn't contain any values which are >= 1, then we should delete this row.

In [11]:
npi_merge = npi_merge.set_index(com_col)
npi_merge.head(15)

                   NPIK_x  NPIK1  NPIK2  NPIK3  NPIK4  NPIK5  NPIK6  NPIK7  \
Phase RID VISCODE
ADNI2 2   v11         0.0    NaN    NaN    NaN    NaN    NaN    NaN    NaN
          v06         0.0    NaN    NaN    NaN    NaN    NaN    NaN    NaN
          v51         0.0    NaN    NaN    NaN    NaN    NaN    NaN    NaN
ADNI3 2   init        0.0    NaN    NaN    NaN    NaN    NaN    NaN    NaN
ADNI2 2   v21         0.0    NaN    NaN    NaN    NaN    NaN    NaN    NaN
          v41         0.0    NaN    NaN    NaN    NaN    NaN    NaN    NaN
      8   v06         1.0    1.0    0.0    0.0    0.0    0.0    0.0    0.0
          v11         0.0    NaN    NaN    NaN    NaN    NaN    NaN    NaN
          v21         0.0    NaN    NaN    NaN    NaN    NaN    NaN    NaN
          v41         1.0    0.0    0.0    0.0    0.0    0.0    0.0    1.0
      15  v06         0.0    NaN    NaN    NaN    NaN    NaN    NaN    NaN
ADNI3 21  init        0.0    NaN    NaN    NaN    NaN    NaN    NaN    NaN
ADNI2 21  v11         0.0    NaN    NaN    NaN    NaN    NaN    NaN    NaN
ADNI3 21  y1          0.0    NaN    NaN    NaN    NaN    NaN    NaN    NaN
ADNI2 21  v41         0.0    NaN    NaN    NaN    NaN    NaN    NaN    NaN

                   NPIK8  NPIK9A  NPIK9B  NPIK9C  NPIKTOT  NPIK_y  NPIKSEV
Phase RID VISCODE
ADNI2 2   v11        NaN     NaN     NaN     NaN      0.0     NaN      NaN
          v06        NaN     NaN     NaN     NaN      0.0     NaN      NaN
          v51        NaN     NaN     NaN     NaN      0.0     NaN      NaN
ADNI3 2   init       NaN     NaN     NaN     NaN      0.0     NaN      NaN
ADNI2 2   v21        NaN     NaN     NaN     NaN      0.0     NaN      NaN
          v41        NaN     NaN     NaN     NaN      0.0     NaN      NaN
      8   v06        0.0     3.0     2.0     0.0      6.0     NaN      NaN
          v11        NaN     NaN     NaN     NaN      0.0     NaN      NaN
          v21        NaN     NaN     NaN     NaN      0.0     NaN      NaN
          v41        0.0     4.0     2.0     1.0      8.0     NaN      NaN
      15  v06        NaN     NaN     NaN     NaN      0.0     NaN      NaN
ADNI3 21  init       NaN     NaN     NaN     NaN      0.0     NaN      NaN
ADNI2 21  v11        NaN     NaN     NaN     NaN      0.0     NaN      NaN
ADNI3 21  y1         NaN     NaN     NaN     NaN      0.0     NaN      NaN
ADNI2 21  v41        NaN     NaN     NaN     NaN      0.0     NaN      NaN

In [12]:
npi_boolean = (npi_merge >= 1)    # convert npi to boolean data, where True means value >=1, else False.
#npi_boolean

In [13]:
npi_new = pd.DataFrame(npi_boolean.any(axis='columns')) # if a row has any True, will be labeled as True. Else (if all False)--> False.
npi_new.columns = ['whole_row']  # rename column
npi_new = npi_new.reset_index()  # flatten the dataframe
npi_new = npi_new[npi_new['whole_row'] == True]  # keep the rows which is true
npi_new

       Phase   RID VISCODE  whole_row
6      ADNI2     8     v06       True
9      ADNI2     8     v41       True
25     ADNI2    31     v11       True
26     ADNI2    31     v21       True
28     ADNI2    31     v06       True
...      ...   ...     ...        ...
13654  ADNI3  6449      y1       True
13688  ADNI3  6516      y3       True
13722  ADNI3  6654      y1       True
13734  ADNI3  6820      y2       True
13738  ADNI3  6910      y1       True

[2665 rows x 4 columns]

In [14]:
npi_short = pd.merge(npi_new, npi_merge, on=com_col).drop(['whole_row'],axis=1)
npi_short

,Phase,RID,VISCODE,NPIK_x,NPIK1,NPIK2,NPIK3,NPIK4,NPIK5,NPIK6,NPIK7,NPIK8,NPIK9A,NPIK9B,NPIK9C,NPIKTOT,NPIK_y,NPIKSEV
0,ADNI2,8,v06,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,2.0,0.0,6.0,NaN,NaN
1,ADNI2,8,v41,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,4.0,2.0,1.0,8.0,NaN,NaN
2,ADNI2,31,v11,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,2.0,1.0,0.0,2.0,NaN,NaN
3,ADNI2,31,v21,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,3.0,1.0,1.0,3.0,NaN,NaN
4,ADNI2,31,v06,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,2.0,1.0,0.0,2.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2660,ADNI3,6449,y1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN
2661,ADNI3,6516,y3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0
2662,ADNI3,6654,y1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0
2663,ADNI3,6820,y2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0
2664,ADNI3,6910,y1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0

check if the column NPIK_x and NPIK_y could be merged as one column 'NPIK'

In [15]:
npi_short['NPIK'] = 100
for i in range(len(npi_short)):
    if np.isnan(npi_short['NPIK_x'][i])==False and np.isnan(npi_short['NPIK_y'][i])==True:
        npi_short['NPIK'][i] = npi_short['NPIK_x'][i]
    elif np.isnan(npi_short['NPIK_x'][i])==True and np.isnan(npi_short['NPIK_y'][i])==False:
        npi_short['NPIK'][i] = npi_short['NPIK_y'][i]
    elif np.isnan(npi_short['NPIK_x'][i])==True and np.isnan(npi_short['NPIK_y'][i])==True:
        npi_short['NPIK'][i] = np.nan
    elif np.isnan(npi_short['NPIK_x'][i])==False and np.isnan(npi_short['NPIK_y'][i])==False:
        if npi_short['NPIK_x'][i] == npi_short['NPIK_y'][i]:
            npi_short['NPIK'][i] = npi_short['NPIK_x'][i]
        else: npi_short['NPIK'][i] = 5
npi_short.groupby(['NPIK']).count()

<ipython-input-15-0465483e52ab>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  npi_short['NPIK'][i] = npi_short['NPIK_x'][i]
<ipython-input-15-0465483e52ab>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  else: npi_short['NPIK'][i] = 5
<ipython-input-15-0465483e52ab>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  npi_short['NPIK'][i] = npi_short['NPIK_x'][i]
<ipython-input-15-0465483e52ab>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  npi_short['NPIK'][i] = npi_short['NPIK_y'][i]

,Phase,RID,VISCODE,NPIK_x,NPIK1,NPIK2,NPIK3,NPIK4,NPIK5,NPIK6,NPIK7,NPIK8,NPIK9A,NPIK9B,NPIK9C,NPIKTOT,NPIK_y,NPIKSEV
NPIK,,,,,,,,,,,,,,,,,,
1,2603,2603,2603,1328,1325,1324,1322,1321,1322,1324,1324,1317,1325,1326,1325,1324,1276,1276
2,61,61,61,0,0,0,0,0,0,0,0,0,0,0,0,0,61,48
5,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0

NPIK has the value of 1, 2(NA), 5(conflict).

I will replace the NPIK value of 2 and 5 as Nan.Afterwards, NPIK is 1 for all samples, the 0 never appeared. In this case, this variable will not help us for further analysis. So I will drop the column 'NPIK'.

except NPIKSEV, NPIKTOT, NPIK9A 9B 9C, all other NPIK columns should only have value 0 or 1 or Nan.

In [16]:
npi_short = npi_short.drop(['NPIK_x','NPIK_y','NPIK'],axis=1)
npi_short = npi_short.replace({-4:np.nan,-1:np.nan})  # replace all -4 and -1 as nan
for value in npi_short.iloc[:,3:11]:   # replace the values in some columns as nan 
    if value!=0 and value!=1:
        value = np.nan
npi_short.to_csv('npi_short.csv')

### Files for medical history 
there are three files under assessment diagnosis: ADSXLIST,BLCHANGE,MODHACH. 

four files under medical history: MEDHIST;INITHEALTH;RECMHIST;RECBLLOG

We use these files to find out medical history of hypertension,OSA,anxiety,depression,insomnia

It is not sure if they are same. Therefore all three will be checked.

In [18]:
adsxlist = pd.read_csv('ADSXLIST.csv',sep=';').dropna(subset = ['RID'])  # drop the rows where RID is not available
blchange = pd.read_csv('BLCHANGE.csv',sep = ';').dropna(subset = ['RID'])
modhach = pd.read_csv('MODHACH.csv',sep = ';').dropna(subset = ['RID'])
ass_diag_merge = pd.concat([adsxlist,blchange,modhach]).reset_index(drop=True)
ass_diag_merge = drop_char(ass_diag_merge,'RID').reset_index(drop=True)  #drop the rows where RID cant be converted to integer
ass_diag_merge

,Phase,ID,RID,SITEID,VISCODE,VISCODE2,USERDATE,USERDATE2,EXAMDATE,AXNAUSEA,AXVOMIT,AXDIARRH,AXCONSTP,AXABDOMN,AXSWEATN,AXDIZZY,AXENERGY,AXDROWSY,AXVISION,AXHDACHE,AXDRYMTH,AXBREATH,AXCOUGH,AXPALPIT,AXCHEST,AXURNDIS,AXURNFRQ,AXANKLE,AXMUSCLE,AXRASH,AXINSOMN,AXDPMOOD,AXCRYING,AXELMOOD,AXWANDER,AXFALL,AXOTHER,AXSPECIF,update_stamp,BCPREDX,BCADAS,BCMMSE,BCMMSREC,BCNMMMS,BCNEUPSY,BCNONMEM,BCFAQ,BCCDR,BCDEPRES,BCSTROKE,BCDELIR,BCEXTCIR,BCEXTSP,BCCORADL,BCCORCOG,BCSUMM,HMONSET,HMSTEPWS,HMSOMATC,HMEMOTIO,HMHYPERT,HMSTROKE,HMNEURSM,HMNEURSG,HMSCORE,DATE,SOURCE
0,ADNI1,2,2,107,m06,m06,07.03.2006,NaN,06.03.2006,1.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,-4,07.03.2006 00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ADNI1,4,5,107,m06,m06,09.03.2006,NaN,09.03.2006,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,fever,09.03.2006 00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ADNI1,6,3,107,m06,m06,13.03.2006,NaN,13.03.2006,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0,1.0,1.0,2.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,-4,13.03.2006 00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ADNI1,8,8,107,m06,m06,21.03.2006,NaN,20.03.2006,1.0,1.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,-4,21.03.2006 00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ADNI1,10,7,10,m06,m06,13.04.2006,NaN,13.04.2006,1.0,1.0,1.0,1.0,1.0,1.0,2.0,2.0,1.0,2.0,1.0,1.0,2.0,2.0,1.0,1.0,1.0,1.0,2.0,2.0,2.0,1.0,2.0,2.0,1.0,1.0,1.0,1.0,-4,13.04.2006 00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21647,ADNI3,163991,7105,25,sc,sc,23.08.2022,23.08.2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25.08.2022 15:19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0,1.0,1.0,1.0,2.0,2.0,2.0,0.0,22.08.2022,1.0
21648,ADNI3,164375,7097,10,sc,sc,26.08.2022,26.08.2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.08.2022 04:19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,21.07.2022,1.0
21649,ADNI3,165144,7103,10,sc,sc,07.09.2022,07.09.2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,08.09.2022 04:20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,16.08.2022,1.0
21650,ADNI3,165293,7106,59,sc,sc,09.09.2022,09.09.2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.09.2022 04:20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,08.09.2022,1.0
21651,ADNI3,165788,7037,30,sc,sc,19.09.2022,19.09.2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.09.2022 04:21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,21.01.2022,1.0

In [19]:
medhist = pd.read_csv('MEDHIST.csv',sep=';').dropna(subset = ['RID'])
inithealth = pd.read_csv('INITHEALTH.csv',sep = ';').dropna(subset = ['RID'])
recmhist = pd.read_csv('RECMHIST.csv',sep = ';').dropna(subset = ['RID'])
recbllog = pd.read_csv('RECBLLOG.csv',sep = ';').dropna(subset = ['RID'])
med_hist_merge = pd.concat([medhist,inithealth,recmhist,recbllog]).reset_index(drop=True) # connect all rows and reset index
med_hist_merge = drop_char(med_hist_merge,'RID').reset_index(drop=True)  #drop the RID which cant be converted to integer
med_hist_merge

,Phase,ID,RID,SITEID,VISCODE,VISCODE2,USERDATE,USERDATE2,EXAMDATE,MHSOURCE,MHPSYCH,MH2NEURL,MH3HEAD,MH4CARD,MH5RESP,MH6HEPAT,MH7DERM,MH8MUSCL,MH9ENDO,MH10GAST,MH11HEMA,MH12RENA,MH13ALLE,MH14ALCH,MH14AALCH,MH14BALCH,MH14CALCH,MH15DRUG,MH15ADRUG,MH15BDRUG,MH16SMOK,MH16ASMOK,MH16BSMOK,MH16CSMOK,MH17MALI,MH18SURG,MH19OTHR,MHCOMMEN,update_stamp,IHNUM,IHSYMPTOM,IHDESC,IHSURG,IHSURGDATE,IHPRESENT,IHCHRON,IHSEVER,IHDTONSET,IHONGOING,IHCEASE,IHCOMM,RECNO,MHNUM,MHDESC,MHDTONSET,MHCUR,MHSTAB,BSXSYMNO,BSXSYMP,BSXSEVER,BSXCHRON,BSXONSET,BSXCONTD,BSXCEASE
0,ADNI1,8.0,2,107.0,sc,sc,17.08.2005,NaN,17.08.2005,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,0.0,0.0,0.0,-4,17.08.2005 00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ADNI1,10.0,1,10.0,f,f,18.08.2005,NaN,18.08.2005,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,0.0,0.0,1.0,-4,18.08.2005 00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ADNI1,12.0,3,107.0,sc,sc,18.08.2005,NaN,18.08.2005,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,NaN,NaN,NaN,0.0,NaN,NaN,1.0,NaN,NaN,NaN,1.0,1.0,0.0,-4,18.08.2005 00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ADNI1,14.0,4,10.0,sc,sc,18.08.2005,NaN,18.08.2005,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,NaN,NaN,NaN,0.0,NaN,NaN,1.0,NaN,NaN,NaN,0.0,1.0,0.0,-4,18.08.2005 00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ADNI1,16.0,5,107.0,sc,sc,23.08.2005,NaN,23.08.2005,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,NaN,NaN,NaN,0.0,NaN,NaN,1.0,NaN,NaN,NaN,0.0,1.0,0.0,-4,23.08.2005 00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62562,ADNI2,11012.0,2200,41.0,v06,m12,19.05.2015,19.05.2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.05.2015 19:20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,22.0,sleep apnea,1.0,2.0,--/--/2006,1.0,-4
62563,ADNI2,11016.0,4868,13.0,v01,sc,18.08.2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.08.2015 19:25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,28.0,post nasal drip,1.0,3.0,--/--/2005,1.0,-4
62564,ADNI2,11018.0,5195,9.0,v01,sc,20.08.2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.08.2015 19:20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,NaN,NaN,NaN,NaN,NaN,8.0,Low energy,1.0,2.0,--/--/2010,1.0,-4
62565,ADNI2,11020.0,5195,9.0,v01,sc,20.08.2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.08.2015 19:20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN,NaN,19.0,Ankle swelling,1.0,2.0,--/--/2008,1.0,-4
62566,ADNI2,11022.0,2055,45.0,v41,m60,16.10.2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.10.2015 19:21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-4,NaN,NaN,-4,NaN,-4

In [20]:
key_osa = ['apnea','sleep disordered breathing','SDB','OSA']   
key_hypertension = ['hypertension','Hypertension','HTN','htn']

### 2. hypertension
It is important to know that, we have to use the right data to search for keywords.

i.e. we should only use the file which involve the information about 'hypertension' to evaluate if the patients in this file has hypertension or not.

If we use a file which not involve the information about 'hypertension' to evaluate hypertension patients, then all the patients in this file will be labeled as 'not-have-hypertension', which is not true, their hypertension info are not available, should be labeled as 'NA'.

In [21]:
htn_1 = new_col_with_key(ass_diag_merge,key_hypertension,'hypertension')    # extract key words from assessment diagnosis files
htn_2 = new_col_with_key(med_hist_merge,key_hypertension,'hypertension')   # extract key words from medical history files
htn_3 = modhach[com_col + ['HMHYPERT']]                     # from column'HMHYPERT'
htn_3 = htn_3.rename(columns={'HMHYPERT':'hypertension'})
htn = pd.concat([htn_1,htn_2,htn_3])           # bind all the rows
htn = drop_char(htn,'RID').reset_index(drop=True)   #drop the RID which could not be converted to integer
htn = htn.drop_duplicates().reset_index(drop=True).sort_values(by= ['RID'])             # drop the duplicates
htn.head(3)

       Phase  RID VISCODE  hypertension
16264  ADNI1    1       f           0.0
0      ADNI1    2     m06           0.0
9325   ADNI2    2     v21           0.0

In [22]:
htn.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18549 entries, 16264 to 16952
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Phase         18549 non-null  object
 1   RID           18549 non-null  int64
 2   VISCODE       18549 non-null  object
 3   hypertension  18537 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 724.6+ KB

check if there are hypertension positive samples in each file, to make sure that we are using the right files:

all three files have positive and negative samples. So we are using the right files.

In [23]:
htn_1[htn_1['hypertension']==1].head(2)

      Phase   RID VISCODE  hypertension
942   ADNI1    72     m18             1
1348  ADNI1  1195     m06             1

In [24]:
htn_2[htn_2['hypertension']==1].head(2)

      Phase   RID VISCODE  hypertension
194   ADNI1   261       f             1
1053  ADNI1  1298       f             1

In [25]:
htn_3[htn_3['hypertension']==1].head(2)

   Phase  RID VISCODE  hypertension
1  ADNI1    3      sc           1.0
2  ADNI1    4      sc           1.0

#### Question: should each patient have only one hypertension label?

In [26]:
vis_dict = pd.read_csv("VISITS_DICT.csv",sep = ';')       #VISCODE DICTIONARY
vis_dict.head(11)

    Phase  ID VISCODE    VISNAME  VISORDER
0   ADNI1   1      sc  Screening       1.0
1   ADNI1   2      bl   Baseline       2.0
2   ADNI1   3     m06    Month 6       3.0
3   ADNI1   4     m12   Month 12       4.0
4   ADNI1   5     m18   Month 18       5.0
5   ADNI1   6     m24   Month 24       6.0
6   ADNI1   7     m30   Month 30       7.0
7   ADNI1   8     m36   Month 36       8.0
8   ADNI1   9     m42   Month 42       9.0
9   ADNI1  10     m48   Month 48      10.0
10  ADNI1  11     m54   Month 54      11.0

#### RID=3 is marked as hypertension positive at the first time (VISCODE = sc), in the later visits, as negative. RID=4 is labeled as positive at first and second visits (VISCODE=sc,bl). It is very much unlikely that, after 6 months, his/her hypertension is cured.  Hypertension is considered as can be controlled with medication, but it can not be cured. So hypertension data is unique to RID, not change by ' Phase' 'VISCODE' or other features.

In [27]:
htn[htn['RID']==3]

       Phase  RID VISCODE  hypertension
103    ADNI1    3     m12           0.0
14710  ADNI1    3      sc           0.0
16953  ADNI1    3      sc           1.0
4910   ADNI1    3      bl           0.0
481    ADNI1    3     m18           0.0
2      ADNI1    3     m06           0.0
1163   ADNI1    3     m24           0.0

In [28]:
htn_short = htn.groupby(['RID']).sum().reset_index()
htn_short.loc[(htn_short.hypertension >= 1), 'hypertension'] = 1
htn_short.loc[(htn_short.hypertension == 0), 'hypertension'] = 0
htn_short.to_csv('htn_short.csv')
htn_short.head(3)

   RID  hypertension
0    1           0.0
1    2           0.0
2    3           1.0

### OSA
Till now,  sleep apnea can not be cured completely

In [29]:
ass_diag_merge

,Phase,ID,RID,SITEID,VISCODE,VISCODE2,USERDATE,USERDATE2,EXAMDATE,AXNAUSEA,AXVOMIT,AXDIARRH,AXCONSTP,AXABDOMN,AXSWEATN,AXDIZZY,AXENERGY,AXDROWSY,AXVISION,AXHDACHE,AXDRYMTH,AXBREATH,AXCOUGH,AXPALPIT,AXCHEST,AXURNDIS,AXURNFRQ,AXANKLE,AXMUSCLE,AXRASH,AXINSOMN,AXDPMOOD,AXCRYING,AXELMOOD,AXWANDER,AXFALL,AXOTHER,AXSPECIF,update_stamp,BCPREDX,BCADAS,BCMMSE,BCMMSREC,BCNMMMS,BCNEUPSY,BCNONMEM,BCFAQ,BCCDR,BCDEPRES,BCSTROKE,BCDELIR,BCEXTCIR,BCEXTSP,BCCORADL,BCCORCOG,BCSUMM,HMONSET,HMSTEPWS,HMSOMATC,HMEMOTIO,HMHYPERT,HMSTROKE,HMNEURSM,HMNEURSG,HMSCORE,DATE,SOURCE
0,ADNI1,2,2,107,m06,m06,07.03.2006,NaN,06.03.2006,1.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,-4,07.03.2006 00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ADNI1,4,5,107,m06,m06,09.03.2006,NaN,09.03.2006,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,fever,09.03.2006 00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ADNI1,6,3,107,m06,m06,13.03.2006,NaN,13.03.2006,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0,1.0,1.0,2.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,-4,13.03.2006 00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ADNI1,8,8,107,m06,m06,21.03.2006,NaN,20.03.2006,1.0,1.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,-4,21.03.2006 00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ADNI1,10,7,10,m06,m06,13.04.2006,NaN,13.04.2006,1.0,1.0,1.0,1.0,1.0,1.0,2.0,2.0,1.0,2.0,1.0,1.0,2.0,2.0,1.0,1.0,1.0,1.0,2.0,2.0,2.0,1.0,2.0,2.0,1.0,1.0,1.0,1.0,-4,13.04.2006 00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21647,ADNI3,163991,7105,25,sc,sc,23.08.2022,23.08.2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25.08.2022 15:19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0,1.0,1.0,1.0,2.0,2.0,2.0,0.0,22.08.2022,1.0
21648,ADNI3,164375,7097,10,sc,sc,26.08.2022,26.08.2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.08.2022 04:19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,21.07.2022,1.0
21649,ADNI3,165144,7103,10,sc,sc,07.09.2022,07.09.2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,08.09.2022 04:20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,16.08.2022,1.0
21650,ADNI3,165293,7106,59,sc,sc,09.09.2022,09.09.2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.09.2022 04:20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,08.09.2022,1.0
21651,ADNI3,165788,7037,30,sc,sc,19.09.2022,19.09.2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.09.2022 04:21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,21.01.2022,1.0

In [30]:
osa_1 = new_col_with_key(ass_diag_merge,key_osa,'OSA')    # extract key words from assessment diagnosis files
osa_2 = new_col_with_key(med_hist_merge,key_osa,'OSA')   # extract key words from medical history files
osa_merge = pd.concat([osa_1,osa_2])           # bind all the rows
osa_merge = drop_char(osa_merge,'RID').reset_index(drop=True)   #drop the RID which could not be converted to integer
osa_merge = osa_merge.drop_duplicates().reset_index(drop=True).sort_values(by= ['RID'])             # drop the duplicates
osa_merge.head(3)

       Phase  RID VISCODE  OSA
16177  ADNI1    1       f    0
0      ADNI1    2     m06    0
10818  ADNI2    2     v41    0

In [31]:
osa_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16674 entries, 16177 to 14672
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Phase    16674 non-null  string
 1   RID      16674 non-null  int64
 2   VISCODE  16674 non-null  string
 3   OSA      16674 non-null  int64
dtypes: int64(2), string(2)
memory usage: 651.3 KB

In [32]:
osa_1[osa_1['OSA']==1].head(2)   # both osa_1 and osa_2 contain positive OSA -> the files we used are OSA-relevant

     Phase  RID VISCODE  OSA
77   ADNI1  205     m06    1
635  ADNI1  400     m12    1

In [33]:
osa_2[osa_2['OSA']==1].head(2)

      Phase   RID VISCODE  OSA
2547  ADNI2  1346     v06    1
2868  ADNI2   919     v06    1

#### Question: should each patient have only one OSA label?

check some patients

i.e.RID=999: 17 records/visit, but only one positive record (v06,some middle time point of the whole study),since sleep spnea is not curable, especially not in that short time.

RID=205: 17 records/visit, but only one positive record (m06, again some middle time point of the whole study)

So, each patient should have only one OSA label.

In [34]:
osa_merge[osa_merge['RID']==205]

       Phase  RID VISCODE  OSA
3573   ADNI1  205     m36    0
438    ADNI1  205     m12    0
4987   ADNI1  205      bl    0
14846  ADNI1  205      sc    0
8251   ADNI2  205     v11    0
2892   ADNI1  205     m30    0
12320  ADNI3  205    init    0
6448   ADNI2  205     v06    0
1240   ADNI1  205     m18    0
5252   ADNI1  205     m06    0
1838   ADNI1  205     m24    0
77     ADNI1  205     m06    1
14615  ADNI3  205      y4    0
11033  ADNI2  205     v41    0
9616   ADNI2  205     v21    0
13950  ADNI3  205      y2    0
10445  ADNI2  205     v31    0

In [35]:
osa_short = osa_merge.groupby(['RID']).sum().reset_index()
osa_short.loc[(osa_short['OSA'] >= 1), 'OSA'] = 1
osa_short.loc[(osa_short['OSA'] == 0), 'OSA'] = 0
osa_short.to_csv('osa_short.csv')
osa_short.head(3)

   RID  OSA
0    1    0
1    2    0
2    3    0

### Insomnia
Insomnia can be fully cured. 75% of individuals with acute insomnia were able to make a full recovery after about 12 months.

In [36]:
adsxlist.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4884 entries, 0 to 4883
Data columns (total 39 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Phase         4884 non-null   object
 1   ID            4884 non-null   int64
 2   RID           4884 non-null   int64
 3   SITEID        4884 non-null   int64
 4   VISCODE       4884 non-null   object
 5   VISCODE2      4884 non-null   object
 6   USERDATE      4884 non-null   object
 7   USERDATE2     400 non-null    object
 8   EXAMDATE      4201 non-null   object
 9   AXNAUSEA      4884 non-null   int64
 10  AXVOMIT       4884 non-null   int64
 11  AXDIARRH      4884 non-null   int64
 12  AXCONSTP      4884 non-null   int64
 13  AXABDOMN      4883 non-null   float64
 14  AXSWEATN      4884 non-null   int64
 15  AXDIZZY       4884 non-null   int64
 16  AXENERGY      4884 non-null   int64
 17  AXDROWSY      4884 non-null   int64
 18  AXVISION      4884 non-null   int64
 19  AXHDACHE      4884 non-null   int64
 20  AXDRYMTH      4884 non-null   int64
 21  AXBREATH      4884 non-null   int64
 22  AXCOUGH       4884 non-null   int64
 23  AXPALPIT      4884 non-null   int64
 24  AXCHEST       4884 non-null   int64
 25  AXURNDIS      4884 non-null   int64
 26  AXURNFRQ      4884 non-null   int64
 27  AXANKLE       4884 non-null   int64
 28  AXMUSCLE      4884 non-null   int64
 29  AXRASH        4884 non-null   int64
 30  AXINSOMN      4884 non-null   int64
 31  AXDPMOOD      4884 non-null   int64
 32  AXCRYING      4884 non-null   int64
 33  AXELMOOD      4884 non-null   int64
 34  AXWANDER      4884 non-null   int64
 35  AXFALL        4884 non-null   int64
 36  AXOTHER       4882 non-null   float64
 37  AXSPECIF      4884 non-null   object
 38  update_stamp  4789 non-null   object
dtypes: float64(2), int64(29), object(8)
memory usage: 1.5+ MB

In [38]:
#ass_diag_merge2 = pd.concat([blchange,modhach]).reset_index(drop=True) # ass_diag_merge without adsxlist
#insomnia_1 = new_col_with_key(ass_diag_merge2,'insomnia','insomnia')   # extract key words from assessment diagnosis 2 files, because the ADSXLIST also has the insomnia col
#insomnia_2 = new_col_with_key(med_hist_merge,'insomnia','insomnia')   # extract key words from medical history files
insomnia_merge = adsxlist[com_col]  
insomnia_merge['insomnia']= adsxlist['AXINSOMN'] - 1 #take the column 'AXINSOMN' and convert 1->0, 2->1
#insomnia_3['RID'] = insomnia_3['RID'].astype(str)
# insomnia_3 = insomnia_3#.drop_duplicates()
#insomnia_merge = pd.concat([insomnia_1,insomnia_2,insomnia_3])           # bind all the rows
insomnia_merge = drop_char(insomnia_merge,'RID').reset_index(drop=True)   #drop the RID which could not be converted to integer
insomnia_merge = insomnia_merge.drop_duplicates().reset_index(drop=True).sort_values(by= ['RID'])             # drop the duplicates
def rename_value(value):
    if value not in [0,1]:
        return np.nan
    else:
        return value
insomnia_merge['insomnia'] = insomnia_merge['insomnia'].apply(rename_value)   # replace the values that are not 1 or 0 to Nan
insomnia_merge.head(3)

<ipython-input-38-248a7496e9b3>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  insomnia_merge['insomnia']= adsxlist['AXINSOMN'] - 1 #take the column 'AXINSOMN' and convert 1->0, 2->1

       Phase  RID VISCODE  insomnia
0      ADNI1    2     m06       0.0
2462   ADNI1    2     m36       0.0
4239  ADNIGO    2     m60       0.0

In [39]:
insomnia_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4884 entries, 0 to 4862
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Phase     4884 non-null   object
 1   RID       4884 non-null   int64
 2   VISCODE   4884 non-null   object
 3   insomnia  4874 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 190.8+ KB

In [40]:
insomnia_merge.groupby('insomnia').count()

          Phase   RID  VISCODE
insomnia
0.0        4255  4255     4255
1.0         619   619      619

In [41]:
insomnia_merge[insomnia_merge['RID']==109].sort_values(by=['VISCODE'])

      Phase  RID VISCODE  insomnia
53    ADNI1  109     m06       0.0
501   ADNI1  109     m12       0.0
1148  ADNI1  109     m18       0.0
1963  ADNI1  109     m24       0.0

#### check some samples.
RID=108: all records are insomnia positive.
RID=3: all records are insomnia positive (bl showed up two times, once = 0, once 1).Many samples have similiar situation.

So, the strategie is, for the records with same RID and VISCODE, we should use the sum of the records, if sum>= 1,insomnia should be set as 1.

for the insomnia data, we need both RID and VISCODE features to link to other data.

In [42]:
insomnia_merge[insomnia_merge['RID']==109] # under each VISCODE there are more than one insomnia record even with different answers.

      Phase  RID VISCODE  insomnia
1148  ADNI1  109     m18       0.0
501   ADNI1  109     m12       0.0
1963  ADNI1  109     m24       0.0
53    ADNI1  109     m06       0.0

Is it right? Or should keep both?

In [43]:
insomnia_short = insomnia_merge.groupby(['RID','VISCODE','Phase']).sum().reset_index()  # groupby the rows with same 'RID and VISCODE', and sum
insomnia_short.loc[(insomnia_short['insomnia'] >= 1), 'insomnia'] = 1 
insomnia_short

       RID VISCODE   Phase  insomnia
0        2     m06   ADNI1       0.0
1        2     m36   ADNI1       0.0
2        2     m60  ADNIGO       0.0
3        2     m66  ADNIGO       0.0
4        3     m06   ADNI1       1.0
...    ...     ...     ...       ...
4879  2403     m06  ADNIGO       0.0
4880  2405      bl  ADNIGO       0.0
4881  2405     m06  ADNIGO       0.0
4882  2407      bl  ADNIGO       0.0
4883  2407     m06  ADNIGO       0.0

[4884 rows x 4 columns]

In [44]:
insomnia_short.groupby('insomnia').count()

           RID  VISCODE  Phase
insomnia
0.0       4265     4265   4265
1.0        619      619    619

In [45]:
insomnia_short.to_csv('insomnia_short.csv')
insomnia_short.head(3)

   RID VISCODE   Phase  insomnia
0    2     m06   ADNI1       0.0
1    2     m36   ADNI1       0.0
2    2     m60  ADNIGO       0.0

### Anxiety
There's no way to completely cure any anxiety disorder

In [46]:
anxiety_1 = new_col_with_key(ass_diag_merge,'anxi','anxiety')    # extract key words from assessment diagnosis files
#anxiety_1.loc[(ass_diag_merge.AXDPMOOD == 2), 'depression'] = 1
anxiety_2 = new_col_with_key(med_hist_merge,'anxi','anxiety')   # extract key words from medical history files
anxiety_merge = pd.concat([anxiety_1,anxiety_2])           # bind all the rows
anxiety_merge = drop_char(anxiety_merge,'RID').reset_index(drop=True)   #drop the RID which could not be converted to integer
anxiety_merge = anxiety_merge.drop_duplicates().reset_index(drop=True).sort_values(by= ['RID'])             # drop the duplicates
anxiety_merge.head(3)

       Phase  RID VISCODE  anxiety
20154  ADNI1    1       f        1
19518  ADNI1    1       f        0
0      ADNI1    2     m06        0

In [47]:
anxiety_1[anxiety_1['anxiety']==1].head(2) # both files have positive depression samples--> it is right to take these files for anxiety labels

    Phase RID VISCODE  anxiety
8   ADNI1  15     m06        1
10  ADNI1  21     m06        1

In [48]:
anxiety_2[anxiety_2['anxiety']==1].head(2)

    Phase RID VISCODE  anxiety
17  ADNI1  25       f        1
25  ADNI1  30      sc        1

#### check some samples.
RID=2, with VISCODE we could see that this patient has discontinuous anxiety positive, which is impossible to be true. So the 0 is just the time, his/her anxiety disorder is not recorded. 
RID=4, similiar to RID=2. 

Each patient should have only one label for anxiety disorder.

In [49]:
anxiety_merge[anxiety_merge['RID']==3]

       Phase  RID VISCODE  anxiety
481    ADNI1    3     m18        0
1163   ADNI1    3     m24        0
4910   ADNI1    3      bl        0
20155  ADNI1    3      sc        1
16289  ADNI1    3      sc        0
2      ADNI1    3     m06        0
103    ADNI1    3     m12        0
21770  ADNI1    3      bl        1

In [50]:
anxiety_short = anxiety_merge.groupby(['RID']).sum().reset_index()
anxiety_short.loc[(anxiety_short['anxiety'] >= 1), 'anxiety'] = 1
anxiety_short.loc[(anxiety_short['anxiety'] == 0), 'anxiety'] = 0
anxiety_short.to_csv('anxiety_short.csv')
anxiety_short.head(3)

   RID  anxiety
0    1        1
1    2        1
2    3        1

In [51]:
anxiety_merge.groupby('anxiety').count()

         Phase    RID  VISCODE
anxiety
0        10891  10891    10891
1        11845  11845    11845

### depression
There's no cure for depression, but you still have plenty of options for treatment, all of which can improve your symptoms and minimize their impact on your daily life.

In [52]:
dxsum = pd.read_csv('DXSUM_PDXCONV_ADNIALL.csv',sep=';')
depression_1 = new_col_with_key(ass_diag_merge,'depr','depression')    # extract key words from assessment diagnosis files
depression_1.loc[(ass_diag_merge.AXDPMOOD == 2), 'depression'] = 1
depression_2 = new_col_with_key(med_hist_merge,'depr','depression')   # extract key words from medical history files
depression_3 = dxsum[com_col + ['DXAPROB','DXAPOSS']]                     # from column'HMHYPERT'
depression_3.loc[(depression_3['DXAPOSS'] == '1')|(depression_3['DXAPROB'] == '1'), 'depression'] = 1
depression_3 = depression_3[com_col + ['depression']]
#htn_3 = htn_3.rename(columns={'HMHYPERT':'hypertension'})

depression_merge = pd.concat([depression_1,depression_2,depression_3])           # bind all the rows
depression_merge = drop_char(depression_merge,'RID').reset_index(drop=True)   #drop the RID which could not be converted to integer
depression_merge = depression_merge.drop_duplicates().reset_index(drop=True).sort_values(by= ['RID'])             # drop the duplicates
depression_merge.head(3)

C:\Users\weipi\anaconda3\lib\site-packages\pandas\core\indexing.py:1599: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = infer_fill_value(value)
C:\Users\weipi\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

        Phase  RID VISCODE  depression
19527   ADNI1    1       f         0.0
20417   ADNI1    1       f         1.0
26409  ADNIGO    2     m60         NaN

In [53]:
depression_1[depression_1['depression']==1].head(2)  # both files have positive depression samples--> it is right to take these files for depression labels

   Phase RID VISCODE  depression
1  ADNI1   5     m06           1
4  ADNI1   7     m06           1

In [54]:
depression_2[depression_2['depression']==1].head(2)

    Phase RID VISCODE  depression
17  ADNI1  25       f           1
25  ADNI1  30      sc           1

In [55]:
depression_3[depression_3['depression']==1].head(2)

   Phase  RID VISCODE  depression
2  ADNI1    3      bl         1.0
3  ADNI1    3     m06         1.0

#### check some examples, the feature 'depression' is again similiar to 'depression' and 'OSA', that each patient should have only one label.

In [56]:
depression_merge[depression_merge['RID']==2]

        Phase  RID VISCODE  depression
26409  ADNIGO    2     m60         NaN
31945   ADNI2    2     v41         NaN
9429    ADNI2    2     v11         1.0
23215   ADNI1    2      bl         NaN
23216   ADNI1    2     m06         NaN
32794   ADNI3    2    init         NaN
0       ADNI1    2     m06         0.0
10913   ADNI2    2     v21         1.0
27202   ADNI2    2     v06         NaN
16297   ADNI1    2      sc         0.0
12417   ADNI2    2     v41         1.0
12848   ADNI2    2     v51         1.0
13262   ADNI3    2    init         1.0
28962   ADNI2    2     v11         NaN
30445   ADNI2    2     v21         NaN
32376   ADNI2    2     v51         NaN
4909    ADNI1    2      bl         0.0
22029   ADNI1    2      bl         1.0
2462    ADNI1    2     m36         0.0
4239   ADNIGO    2     m60         1.0
4454   ADNIGO    2     m66         1.0
19796   ADNI2    2     v06         0.0
25001   ADNI1    2     m36         NaN
7124   ADNIGO    2     m60         0.0
20416   ADNI1    2      sc         1.0
7677    ADNI2    2     v06         1.0

In [57]:
depression_short = depression_merge.groupby(['RID']).sum().reset_index()
depression_short.loc[(depression_short['depression'] >= 1), 'depression'] = 1
depression_short.loc[(depression_short['depression'] == 0), 'depression'] = 0
depression_short = depression_short.dropna()
depression_short.to_csv('depression_short.csv')
depression_short

       RID  depression
0        1         1.0
1        2         1.0
2        3         1.0
3        4         1.0
4        5         1.0
...    ...         ...
3579  7102         1.0
3580  7103         1.0
3581  7104         1.0
3582  7105         1.0
3583  7106         1.0

[3584 rows x 2 columns]

In [58]:
depression_short.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3584 entries, 0 to 3583
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   RID         3584 non-null   int64
 1   depression  3584 non-null   float64
dtypes: float64(1), int64(1)
memory usage: 84.0 KB

### GDSCALE

In [59]:
gdscale = pd.read_csv('GDSCALE.csv')
gdscale.head(2)

,Phase,ID,RID,SITEID,VISCODE,VISCODE2,USERDATE,USERDATE2,EXAMDATE,GDSOURCE,GDUNABL,GDUNABSP,GDSATIS,GDDROP,GDEMPTY,GDBORED,GDSPIRIT,GDAFRAID,GDHAPPY,GDHELP,GDHOME,GDMEMORY,GDALIVE,GDWORTH,GDENERGY,GDHOPE,GDBETTER,GDTOTAL,update_stamp
0,ADNI1,6,2,107,sc,sc,2005-08-17,NaN,2005-08-17,1.0,-4.0,-4,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,2005-08-17 00:00:00.0
1,ADNI1,8,3,107,sc,sc,2005-08-18,NaN,2005-08-18,1.0,-4.0,-4,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,2005-08-18 00:00:00.0

In [60]:
col_to_drop = ['ID','SITEID','VISCODE2','USERDATE','USERDATE2', 'EXAMDATE','GDSOURCE','GDUNABL','GDUNABSP','update_stamp']
gdscale_short = gdscale.drop(col_to_drop,axis=1).drop_duplicates().reset_index(drop=True).sort_values(by= ['RID']) 
gdscale_short['GDCAT'] = gdscale_short['GDTOTAL'].apply(lambda x: 3 if x > 9 else 2 if x > 4 else 1 if x > 0 else -4)
gdscale_short = drop_char(gdscale_short,'RID').reset_index(drop=True)  #drop the row where RID cant be converted to integer
gdscale_supershort = gdscale_short[com_col + ['GDTOTAL','GDCAT']]
gdscale_short.to_csv('gdscale_short.csv')
gdscale_supershort.to_csv('gdscale_supershort.csv')
gdscale_short
gdscale_supershort

       Phase   RID VISCODE  GDTOTAL  GDCAT
0      ADNI1     2      sc      1.0      1
1      ADNI2     2     v41      1.0      1
2      ADNI2     2     v31      2.0      1
3      ADNI2     2     v51      3.0      1
4      ADNI1     2     m36      2.0      1
...      ...   ...     ...      ...    ...
11367  ADNI3  6978      sc      0.0     -4
11368  ADNI3  6979      sc      NaN     -4
11369  ADNI3  6980      sc      1.0      1
11370  ADNI3  6981      sc      0.0     -4
11371  ADNI3  6988      sc      2.0      1

[11372 rows x 5 columns]

### NEUROBAT

Neuropsychological Battery[ADNI1,GO,2]: Neurobattery scores (i.e. LIMMTOTAL (immediate recall total score), AVTOT1-AVTOT5 (Rey Auditory Verbal Learning Test scores)) (NEUROBAT.csv)

In [61]:
neurobat = pd.read_csv('NEUROBAT.csv',sep=';')
neurobat.head(2)

C:\Users\weipi\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (8,79,80) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Phase,ID,RID,SITEID,VISCODE,VISCODE2,USERDATE,USERDATE2,EXAMDATE,CLOCKCIRC,CLOCKSYM,CLOCKNUM,CLOCKHAND,CLOCKTIME,CLOCKSCOR,COPYCIRC,COPYSYM,COPYNUM,COPYHAND,COPYTIME,COPYSCOR,LMSTORY,LIMMTOTAL,LIMMEND,AVTOT1,AVERR1,AVTOT2,AVERR2,AVTOT3,AVERR3,AVTOT4,AVERR4,AVTOT5,AVERR5,AVTOT6,AVERR6,AVTOTB,AVERRB,AVENDED,DSPANFOR,DSPANFLTH,DSPANBAC,DSPANBLTH,CATANIMSC,CATANPERS,CATANINTR,CATVEGESC,CATVGPERS,CATVGINTR,TRAASCOR,TRAAERRCOM,TRAAERROM,TRABSCOR,TRABERRCOM,TRABERROM,DIGITSCOR,LDELBEGIN,LDELTOTAL,LDELCUE,BNTND,BNTSPONT,BNTSTIM,BNTCSTIM,BNTPHON,BNTCPHON,BNTTOTAL,AVDELBEGAN,AVDEL30MIN,AVDELERR1,AVDELTOT,AVDELERR2,ANARTND,ANARTERR,MINTSEMCUE,MINTTOTAL,MINTUNCUED,RAVLT_forgetting,RAVLT_immediate,RAVLT_learning,RAVLT_perc_forgetting,DATE,SOURCE,update_stamp
0,ADNI1,12,2,107,sc,sc,17.08.2005,NaN,17.08.2005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,0.0,-4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.08.2014 16:22
1,ADNI1,14,3,107,sc,sc,18.08.2005,NaN,18.08.2005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0.0,-4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.08.2014 16:22

In [62]:
col_to_drop = ['ID','SITEID','VISCODE2','USERDATE','USERDATE2', 'EXAMDATE','update_stamp']
neurobat_short = neurobat.drop(col_to_drop,axis=1).drop_duplicates().reset_index(drop=True).sort_values(by= ['RID']) 
neurobat_short = drop_char(neurobat_short,'RID').reset_index(drop=True)  #drop the row where RID cant be converted to integer
neurobat_supershort = neurobat_short[com_col + ['LIMMTOTAL','AVTOT1','AVTOT2','AVTOT3','AVTOT4','AVTOT5']]
neurobat_short.to_csv('neurobat_short.csv')
neurobat_supershort.to_csv('neurobat_supershort.csv')
neurobat_short
neurobat_supershort

       Phase   RID VISCODE  LIMMTOTAL  AVTOT1  AVTOT2  AVTOT3  AVTOT4  AVTOT5
0      ADNI1     1       f       12.0     NaN     NaN     NaN     NaN     NaN
1      ADNI1     2      sc       13.0     NaN     NaN     NaN     NaN     NaN
2      ADNI2     2     v11       13.0     5.0     5.0     8.0     9.0    10.0
3      ADNI2     2     v41       11.0     5.0     5.0     6.0     8.0    10.0
4      ADNI2     2     v51       14.0     7.0     6.0     6.0     8.0    10.0
...      ...   ...     ...        ...     ...     ...     ...     ...     ...
15331  ADNI3  7102      sc       15.0     NaN     NaN     NaN     NaN     NaN
15332  ADNI3  7103      sc       18.0     NaN     NaN     NaN     NaN     NaN
15333  ADNI3  7104      sc       14.0     NaN     NaN     NaN     NaN     NaN
15334  ADNI3  7105      sc        1.0     NaN     NaN     NaN     NaN     NaN
15335  ADNI3  7106      sc       15.0     NaN     NaN     NaN     NaN     NaN

[15336 rows x 9 columns]

### ADNIMERGE  
#### there are many interesting features, i.e. the brain volume? 
ecog: everyday cognitive

In [63]:
adnimerge = pd.read_csv('ADNIMERGE.csv',sep=',')
adnimerge.head(2)

C:\Users\weipi\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (19,20,21,104,105,106) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,RID,COLPROT,ORIGPROT,PTID,SITE,VISCODE,EXAMDATE,DX_bl,AGE,PTGENDER,PTEDUCAT,PTETHCAT,PTRACCAT,PTMARRY,APOE4,FDG,PIB,AV45,FBB,ABETA,TAU,PTAU,CDRSB,ADAS11,ADAS13,ADASQ4,MMSE,RAVLT_immediate,RAVLT_learning,RAVLT_forgetting,RAVLT_perc_forgetting,LDELTOTAL,DIGITSCOR,TRABSCOR,FAQ,MOCA,EcogPtMem,EcogPtLang,EcogPtVisspat,EcogPtPlan,EcogPtOrgan,EcogPtDivatt,EcogPtTotal,EcogSPMem,EcogSPLang,EcogSPVisspat,EcogSPPlan,EcogSPOrgan,EcogSPDivatt,EcogSPTotal,FLDSTRENG,FSVERSION,IMAGEUID,Ventricles,Hippocampus,WholeBrain,Entorhinal,Fusiform,MidTemp,ICV,DX,mPACCdigit,mPACCtrailsB,EXAMDATE_bl,CDRSB_bl,ADAS11_bl,ADAS13_bl,ADASQ4_bl,MMSE_bl,RAVLT_immediate_bl,RAVLT_learning_bl,RAVLT_forgetting_bl,RAVLT_perc_forgetting_bl,LDELTOTAL_BL,DIGITSCOR_bl,TRABSCOR_bl,FAQ_bl,mPACCdigit_bl,mPACCtrailsB_bl,FLDSTRENG_bl,FSVERSION_bl,IMAGEUID_bl,Ventricles_bl,Hippocampus_bl,WholeBrain_bl,Entorhinal_bl,Fusiform_bl,MidTemp_bl,ICV_bl,MOCA_bl,EcogPtMem_bl,EcogPtLang_bl,EcogPtVisspat_bl,EcogPtPlan_bl,EcogPtOrgan_bl,EcogPtDivatt_bl,EcogPtTotal_bl,EcogSPMem_bl,EcogSPLang_bl,EcogSPVisspat_bl,EcogSPPlan_bl,EcogSPOrgan_bl,EcogSPDivatt_bl,EcogSPTotal_bl,ABETA_bl,TAU_bl,PTAU_bl,FDG_bl,PIB_bl,AV45_bl,FBB_bl,Years_bl,Month_bl,Month,M,update_stamp
0,2,ADNI1,ADNI1,011_S_0002,11,bl,2005-09-08,CN,74.3,Male,16,Not Hisp/Latino,White,Married,0.0,1.25173,NaN,NaN,NaN,NaN,NaN,NaN,0.0,10.67,18.67,5.0,28.0,44.0,4.0,6.0,54.5455,10.0,34.0,112.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.5 Tesla MRI,Cross-Sectional FreeSurfer (FreeSurfer Version...,35475.0,118233.0,8336.0,1229740.0,4177.0,16559.0,27936.0,1984660.0,CN,-4.3167,-4.11991,2005-09-08,0.0,10.67,18.67,5.0,28.0,44.0,4.0,6.0,54.5455,10.0,34.0,112.0,0.0,-4.3167,-4.11991,1.5 Tesla MRI,Cross-Sectional FreeSurfer (FreeSurfer Version...,35475.0,118233.0,8336.0,1229740.0,4177.0,16559.0,27936.0,1984660.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.25173,NaN,NaN,NaN,0.0,0.0,0,0,2022-07-19 05:01:40.0
1,3,ADNI1,ADNI1,011_S_0003,11,bl,2005-09-12,AD,81.3,Male,18,Not Hisp/Latino,White,Married,1.0,1.22163,NaN,NaN,NaN,741.5,239.7,22.83,4.5,22.00,31.00,8.0,20.0,22.0,1.0,4.0,100.0000,2.0,25.0,148.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.5 Tesla MRI,Cross-Sectional FreeSurfer (FreeSurfer Version...,32237.0,84599.0,5319.0,1129830.0,1791.0,15506.0,18422.0,1920690.0,Dementia,-16.2905,-15.87370,2005-09-12,4.5,22.00,31.00,8.0,20.0,22.0,1.0,4.0,100.0000,2.0,25.0,148.0,10.0,-16.2905,-15.87370,1.5 Tesla MRI,Cross-Sectional FreeSurfer (FreeSurfer Version...,32237.0,84599.0,5319.0,1129830.0,1791.0,15506.0,18422.0,1920690.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,741.5,239.7,22.83,1.22163,NaN,NaN,NaN,0.0,0.0,0,0,2022-07-19 05:01:40.0

### dataframe 1: extract the brain volumes and ABETA TAU PTAU data, and calculate the ratio to the baseline
add new features, 'duration_in_days' indicates the days between the current exam date and the baseline

ICV, also known as TIV (Total Intracranial Volume), is the volume of the cranial cavity as taken from a 3D T1 MRI, as outlined by the supratentorial dura matter, or cerebral contour when dura is not clearly detectable.

In [198]:
adni_new = adnimerge[['RID', 'PTID', 'ORIGPROT','VISCODE','EXAMDATE', 'Ventricles', 'Hippocampus', 'WholeBrain', 'Entorhinal', 'Fusiform', 'MidTemp', 'ICV', 'Ventricles_bl', 'Hippocampus_bl',
 'WholeBrain_bl', 'Entorhinal_bl', 'Fusiform_bl', 'MidTemp_bl', 'ICV_bl', 'ABETA','TAU','PTAU', 'ABETA_bl', 'TAU_bl', 'PTAU_bl']].reset_index().drop(['index'],axis=1)
adni_new['ratio_Ventricles_bl'] = adni_new['Ventricles']/adni_new['Ventricles_bl']
adni_new['ratio_Hippocampus_bl'] = adni_new['Hippocampus']/adni_new['Hippocampus_bl']
adni_new['ratio_WholeBrain_bl'] = adni_new['WholeBrain']/adni_new['WholeBrain_bl']
adni_new['ratio_Entorhinal_bl'] = adni_new['Entorhinal']/adni_new['Entorhinal_bl']
adni_new['ratio_Fusiform_bl'] = adni_new['Fusiform']/adni_new['Fusiform_bl']
adni_new['ratio_ICV_bl'] = adni_new['ICV']/adni_new['ICV_bl']
# There are some strings in the following 6 columns, I will replace strings to NA, and convert others to float number.
lst = ['ABETA','TAU', 'PTAU','ABETA_bl', 'TAU_bl', 'PTAU_bl']
for i in range(len(lst)):
    col = lst[i]
    adni_new =  char_float_na(adni_new,col).reset_index().drop(['index'],axis=1)
    adni_new[col] = adni_new[col].astype(float)
adni_new['ratio_ABETA_bl'] = adni_new['ABETA']/adni_new['ABETA_bl']
adni_new['ratio_TAU_bl'] = adni_new['TAU']/adni_new['TAU_bl']
adni_new['ratio_PTAU_bl'] = adni_new['PTAU']/adni_new['PTAU_bl']
adni_new = adni_new.rename({'ORIGPROT': 'Phase'}, axis=1)
adni_new.head(3)

,RID,PTID,Phase,VISCODE,EXAMDATE,Ventricles,Hippocampus,WholeBrain,Entorhinal,Fusiform,MidTemp,ICV,Ventricles_bl,Hippocampus_bl,WholeBrain_bl,Entorhinal_bl,Fusiform_bl,MidTemp_bl,ICV_bl,ABETA,TAU,PTAU,ABETA_bl,TAU_bl,PTAU_bl,ratio_Ventricles_bl,ratio_Hippocampus_bl,ratio_WholeBrain_bl,ratio_Entorhinal_bl,ratio_Fusiform_bl,ratio_ICV_bl,ratio_ABETA_bl,ratio_TAU_bl,ratio_PTAU_bl
0,2,011_S_0002,ADNI1,bl,2005-09-08,118233.0,8336.0,1229740.0,4177.0,16559.0,27936.0,1984660.0,118233.0,8336.0,1229740.0,4177.0,16559.0,27936.0,1984660.0,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,NaN,NaN,NaN
1,3,011_S_0003,ADNI1,bl,2005-09-12,84599.0,5319.0,1129830.0,1791.0,15506.0,18422.0,1920690.0,84599.0,5319.0,1129830.0,1791.0,15506.0,18422.0,1920690.0,741.5,239.7,22.83,741.5,239.7,22.83,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0,1.0
2,3,011_S_0003,ADNI1,m06,2006-03-13,88580.0,5446.0,1100060.0,2427.0,14400.0,16972.0,1906430.0,84599.0,5319.0,1129830.0,1791.0,15506.0,18422.0,1920690.0,NaN,NaN,NaN,741.5,239.7,22.83,1.047057,1.023877,0.973651,1.355109,0.928673,0.992576,NaN,NaN,NaN

In [199]:
adni_exam_bl = adni_new[adni_new['VISCODE']=='bl']#[com_col + ['EXAMDATE']]
adni_exam_bl = adni_exam_bl.rename({'EXAMDATE': 'EXAMDATE_bl'}, axis=1)[['RID','EXAMDATE_bl']]
adni_exam_bl.head(3)

   RID EXAMDATE_bl
0    2  2005-09-08
1    3  2005-09-12
5    4  2005-11-08

left merge the EXAMDATE_bl to adni_new dataframe

In [200]:
adni_new = pd.merge(adni_new,adni_exam_bl, how = 'left', on='RID' )
adni_new.head(3)

,RID,PTID,Phase,VISCODE,EXAMDATE,Ventricles,Hippocampus,WholeBrain,Entorhinal,Fusiform,MidTemp,ICV,Ventricles_bl,Hippocampus_bl,WholeBrain_bl,Entorhinal_bl,Fusiform_bl,MidTemp_bl,ICV_bl,ABETA,TAU,PTAU,ABETA_bl,TAU_bl,PTAU_bl,ratio_Ventricles_bl,ratio_Hippocampus_bl,ratio_WholeBrain_bl,ratio_Entorhinal_bl,ratio_Fusiform_bl,ratio_ICV_bl,ratio_ABETA_bl,ratio_TAU_bl,ratio_PTAU_bl,EXAMDATE_bl
0,2,011_S_0002,ADNI1,bl,2005-09-08,118233.0,8336.0,1229740.0,4177.0,16559.0,27936.0,1984660.0,118233.0,8336.0,1229740.0,4177.0,16559.0,27936.0,1984660.0,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,NaN,NaN,NaN,2005-09-08
1,3,011_S_0003,ADNI1,bl,2005-09-12,84599.0,5319.0,1129830.0,1791.0,15506.0,18422.0,1920690.0,84599.0,5319.0,1129830.0,1791.0,15506.0,18422.0,1920690.0,741.5,239.7,22.83,741.5,239.7,22.83,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0,1.0,2005-09-12
2,3,011_S_0003,ADNI1,m06,2006-03-13,88580.0,5446.0,1100060.0,2427.0,14400.0,16972.0,1906430.0,84599.0,5319.0,1129830.0,1791.0,15506.0,18422.0,1920690.0,NaN,NaN,NaN,741.5,239.7,22.83,1.047057,1.023877,0.973651,1.355109,0.928673,0.992576,NaN,NaN,NaN,2005-09-12

In [201]:
from datetime import datetime as dt
adni_new[['EXAMDATE','EXAMDATE_bl']] = adni_new[['EXAMDATE','EXAMDATE_bl']].apply(pd.to_datetime)
adni_new['duration_in_days'] = (adni_new['EXAMDATE'] - adni_new['EXAMDATE_bl']).astype('timedelta64[D]')
adni_new.head(3)

,RID,PTID,Phase,VISCODE,EXAMDATE,Ventricles,Hippocampus,WholeBrain,Entorhinal,Fusiform,MidTemp,ICV,Ventricles_bl,Hippocampus_bl,WholeBrain_bl,Entorhinal_bl,Fusiform_bl,MidTemp_bl,ICV_bl,ABETA,TAU,PTAU,ABETA_bl,TAU_bl,PTAU_bl,ratio_Ventricles_bl,ratio_Hippocampus_bl,ratio_WholeBrain_bl,ratio_Entorhinal_bl,ratio_Fusiform_bl,ratio_ICV_bl,ratio_ABETA_bl,ratio_TAU_bl,ratio_PTAU_bl,EXAMDATE_bl,duration_in_days
0,2,011_S_0002,ADNI1,bl,2005-09-08,118233.0,8336.0,1229740.0,4177.0,16559.0,27936.0,1984660.0,118233.0,8336.0,1229740.0,4177.0,16559.0,27936.0,1984660.0,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,NaN,NaN,NaN,2005-09-08,0.0
1,3,011_S_0003,ADNI1,bl,2005-09-12,84599.0,5319.0,1129830.0,1791.0,15506.0,18422.0,1920690.0,84599.0,5319.0,1129830.0,1791.0,15506.0,18422.0,1920690.0,741.5,239.7,22.83,741.5,239.7,22.83,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0,1.0,2005-09-12,0.0
2,3,011_S_0003,ADNI1,m06,2006-03-13,88580.0,5446.0,1100060.0,2427.0,14400.0,16972.0,1906430.0,84599.0,5319.0,1129830.0,1791.0,15506.0,18422.0,1920690.0,NaN,NaN,NaN,741.5,239.7,22.83,1.047057,1.023877,0.973651,1.355109,0.928673,0.992576,NaN,NaN,NaN,2005-09-12,182.0

In [202]:
adni_new.to_csv('adnimerge_new.csv')

### dataframe 2:  from ADNIMERGE extract ABETA TAU PTAU DIAGONOSIS

In [64]:
adnimerge_short = adnimerge[['RID', 'PTID','ORIGPROT', 'VISCODE','DX_bl','DX', 'ABETA','TAU','PTAU','ABETA_bl','TAU_bl','PTAU_bl']].drop_duplicates().reset_index(drop=True).sort_values(by= ['RID'])  
adnimerge_short = drop_char(adnimerge_short,'RID').reset_index(drop=True)  #drop the row where RID cant be converted to integer
adnimerge_short = adnimerge_short.drop_duplicates()
adnimerge_short = adnimerge_short.rename(columns = {'ORIGPROT':'Phase'})
adnimerge_short.to_csv('adnimerge_short.csv')
adnimerge_short.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16165 entries, 0 to 16164
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   RID       16165 non-null  int64
 1   PTID      16165 non-null  object
 2   Phase     16165 non-null  object
 3   VISCODE   16165 non-null  object
 4   DX_bl     16151 non-null  object
 5   DX        11309 non-null  object
 6   ABETA     2370 non-null   object
 7   TAU       2370 non-null   object
 8   PTAU      2369 non-null   object
 9   ABETA_bl  10006 non-null  object
 10  TAU_bl    10006 non-null  object
 11  PTAU_bl   10006 non-null  object
dtypes: int64(1), object(11)
memory usage: 1.6+ MB

In [65]:
adnimerge_short.head(3)

,RID,PTID,Phase,VISCODE,DX_bl,DX,ABETA,TAU,PTAU,ABETA_bl,TAU_bl,PTAU_bl
0,2,011_S_0002,ADNI1,bl,CN,CN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,011_S_0002,ADNI1,m60,CN,CN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,011_S_0002,ADNI1,m36,CN,CN,NaN,NaN,NaN,NaN,NaN,NaN

### dataframe 3: demographics data (short version): each RID should have only unique record

In [66]:
demographic_short = adnimerge[['RID','PTGENDER','PTETHCAT','PTRACCAT','AGE']].drop_duplicates().reset_index(drop=True).sort_values(by= ['RID'])
demographic_short = drop_char(demographic_short,'RID').reset_index(drop=True)  #drop the row where RID cant be converted to integer
demographic_short.to_csv('demographic_short.csv')
demographic_short.head(3)

   RID PTGENDER         PTETHCAT PTRACCAT   AGE
0    2     Male  Not Hisp/Latino    White  74.3
1    3     Male  Not Hisp/Latino    White  81.3
2    4     Male      Hisp/Latino    White  67.5

In [67]:
demographic_short.info() == demographic_short.groupby(['RID']).count().info()  # True: each RID has only one record in this file.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2421 entries, 0 to 2420
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   RID       2421 non-null   int64
 1   PTGENDER  2421 non-null   object
 2   PTETHCAT  2421 non-null   object
 3   PTRACCAT  2421 non-null   object
 4   AGE       2417 non-null   float64
dtypes: float64(1), int64(1), object(3)
memory usage: 94.7+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2421 entries, 2 to 7100
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   PTGENDER  2421 non-null   int64
 1   PTETHCAT  2421 non-null   int64
 2   PTRACCAT  2421 non-null   int64
 3   AGE       2421 non-null   int64
dtypes: int64(4)
memory usage: 94.6 KB

True

### DXSUM_PDXCONV_ADNIALL: Diagnostic information

In [68]:
dxsum.head(2)

,Phase,ID,RID,PTID,SITEID,VISCODE,VISCODE2,USERDATE,USERDATE2,EXAMDATE,DXCHANGE,DXCURREN,DXCONV,DXCONTYP,DXREV,DXNORM,DXNODEP,DXMCI,DXMDES,DXMPTR1,DXMPTR2,DXMPTR3,DXMPTR4,DXMPTR5,DXMPTR6,DXMDUE,DXMOTHET,DXMOTHSP,DXDSEV,DXDDUE,DXAD,DXADES,DXAPP,DXAPROB,DXAMETASP,DXAOTHRSP,DXAPOSS,DXAATYSP,DXAMETSP,DXAOTHSP,DXPARK,DXPARKSP,DXPDES,DXPCOG,DXPATYP,DXPOTHSP,DXDEP,DXDEPSP,DXOTHDEM,DXODES,DXOOTHSP,DXCONFID,DIAGNOSIS,update_stamp
0,ADNI1,2.0,2,011_S_0002,107,bl,bl,01.10.2005,NaN,29.09.2005,NaN,1.0,0.0,-4.0,-4.0,1.0,-4.0,-4.0,-4,-4.0,-4.0,-4.0,-4.0,-4.0,-4.0,-4.0,-4,-4,NaN,NaN,-4.0,-4.0,-4.0,-4,-4,-4,-4,-4,-4,-4,-4.0,NaN,-4.0,-4.0,-4.0,-4,NaN,NaN,-4.0,-4.0,-4,4.0,NaN,01.10.2005 00:00
1,ADNI1,336.0,2,011_S_0002,107,m06,m06,27.04.2006,NaN,06.03.2006,NaN,1.0,0.0,-4.0,-4.0,1.0,-4.0,-4.0,-4,-4.0,-4.0,-4.0,-4.0,-4.0,-4.0,-4.0,-4,-4,NaN,NaN,-4.0,-4.0,-4.0,-4,-4,-4,-4,-4,-4,-4,-4.0,NaN,-4.0,-4.0,-4.0,-4,NaN,NaN,-4.0,-4.0,-4,3.0,NaN,27.04.2006 00:00

In [69]:
diag_short = dxsum[['Phase', 'RID', 'VISCODE','PTID','DXCHANGE', 'DXCURREN', 'DIAGNOSIS']].drop_duplicates().reset_index(drop=True).sort_values(by= ['RID']) 
diag_short = drop_char(diag_short,'RID').reset_index(drop=True)  #drop the row where RID cant be converted to integer
diag_short.to_csv('diag_adniall_short.csv')
diag_short.head(2)

    Phase  RID VISCODE        PTID  DXCHANGE  DXCURREN  DIAGNOSIS
0   ADNI1    2      bl  011_S_0002       NaN       1.0        NaN
1  ADNIGO    2     m60  011_S_0002       1.0       NaN        NaN

In [70]:
diag_short.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13317 entries, 0 to 13316
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Phase      13317 non-null  object
 1   RID        13317 non-null  int64
 2   VISCODE    13317 non-null  object
 3   PTID       13317 non-null  object
 4   DXCHANGE   6146 non-null   float64
 5   DXCURREN   3868 non-null   float64
 6   DIAGNOSIS  3283 non-null   float64
dtypes: float64(3), int64(1), object(3)
memory usage: 728.4+ KB

Quick recap:
- ADNI1: DXCURREN 1=NL; 2=MCI; 3=AD
- ADNIGO/2: DXCHANGE    
    1=Stable: NL to NL;    
    2=Stable: MCI to MCI;  
    3=Stable: Dementia to Dementia;   
    4=Conversion: NL to MCI;   
    5=Conversion: MCI to Dementia; 
    6=Conversion: NL to Dementia;  
    7=Reversion: MCI to NL;   
    8=Reversion: Dementia to MCI;   
    9=Reversion: Dementia to NL    
- ADNI3: DIAGNOSIS 1=CN; 2=MCI; 3=Dementia

### join dataframes

In [ ]:
# by 'RID'
# hypertension, osa, anxiety, depression, demographics
htn_osa = pd.merge(htn_short,osa_short, how = 'outer', on = 'RID') 
htn_osa_anx = pd.merge(htn_osa,anxiety_short, how = 'outer', on = 'RID') 
htn_osa_anx_depr = pd.merge(htn_osa_anx,depression_short, how = 'outer', on = 'RID') 
htn_osa_anx_depr_demo = pd.merge(htn_osa_anx_depr,demographic_short, how = 'outer', on = 'RID') 

htn_osa_anx_depr_demo.to_csv('htn_osa_anx_depr_demograph_by_RID.csv')
htn_osa_anx_depr_demo

In [ ]:
# by 'Phase','RID', 'VISCODE'
# ADNIMERGE, DXSUM_PDXCONV_ADNIALL, NPI, INSOMNIA,GDSCALE, NEUROBAT  
adni_diag= pd.merge(adnimerge_short,diag_short, how = 'outer', on = ['Phase','RID','VISCODE','PTID']) 
adni_diag_npi = pd.merge(adni_diag,npi_short, how = 'outer', on = com_col) 
adni_diag_npi_insomnia = pd.merge(adni_diag_npi,insomnia_short, how = 'outer', on = com_col) 
adni_diag_npi_insomnia_GD = pd.merge(adni_diag_npi_insomnia,gdscale_short, how = 'outer', on = com_col) 
adni_diag_npi_insomnia_GD_neurobat = pd.merge(adni_diag_npi_insomnia_GD,neurobat_supershort, how = 'outer', on = com_col)
adni_diag_npi_insomnia_GD_neurobat.to_csv('adni_diag_npi_insomnia_GD_neurobat_by_phase_RID_VISCODE.csv')

In [ ]:
main_file = pd.merge(htn_osa_anx_depr_demo,adni_diag_npi_insomnia_GD_neurobat, how = 'outer', on='RID' )
main_file = main_file.replace({-4:np.nan,-1:np.nan,'-4':np.nan,'-1':np.nan})


main_file = main_file.sort_values(by = ['RID'])
# Order  by VISCODE, Phases
main_file['Phase'] = main_file['Phase'].astype('category')
main_file['Phase'] = main_file['Phase'].cat.set_categories(['ADNI1', 'ADNIGO', 'ADNI2', 'ADNI3'], ordered=True)

main_file['VISCODE'] = main_file['VISCODE'].astype('category')
main_file['VISCODE'] = main_file['VISCODE'].cat.set_categories(['sc', 'bl', 'm06', 'm12', 'm18', 'm24', 'm30', 'm36', 'm42', 'm48',
                                                  'm54', 'uns1', 'f', 'nv', 'scmri', 'm03', 'm60', 'm66', 'm72', 'm78', 'v01', 'v02',
                                                  'v03', 'v04', 'v05', 'v06', 'v07', 'v11', 'v12', 'v21', 'v22', 'v31',
                                                  'v32', 'v41', 'v42', 'v51', 'v52', 'tau', 'reg', 'init', 'y1', 'y2', 
                                                  'y3', 'y4', 'y5', 'y6'], ordered=True)
main_file = main_file.sort_values(by = ['RID','Phase','VISCODE'])
main_file

#### complete the 'DXCHANGE'

- ADNI1: DXCURREN 1=NL; 2=MCI; 3=AD
- ADNIGO/2: DXCHANGE
- 1=Stable: NL to NL;
- 2=Stable: MCI to MCI;
- 3=Stable: Dementia to Dementia;
- 4=Conversion: NL to MCI;
- 5=Conversion: MCI to Dementia; 
- 6=Conversion: NL to Dementia;
- 7=Reversion: MCI to NL;
- 8=Reversion: Dementia to MCI;
- 9=Reversion: Dementia to NL
- ADNI3: DIAGNOSIS 1=CN; 2=MCI; 3=Dementia

- Mild Cognitive Impairment (MCI)
- Alzheimer's Disease (AD)
- Significant Memory Concern (SMC)
- Early Mild Cognitive Impairment (EMCI)
- Late Mild Cognitive Impairment (LMCI)

In [ ]:
main_file.loc[(main_file['DIAGNOSIS'] == 1.0)|(main_file['DXCURREN']==1.0), 'DX'] = 'CN'
main_file.loc[(main_file['DIAGNOSIS'] == 2.0)|(main_file['DXCURREN']==2.0), 'DX'] = 'MCI'
main_file.loc[(main_file['DIAGNOSIS'] == 3.0)|(main_file['DXCURREN']==3.0), 'DX'] = 'AD'
main_file = main_file.drop(['DIAGNOSIS','DXCURREN'],axis=1)
main_file = main_file[main_file.VISCODE != 'f']   # drop the rows where VISCODE == 'f'
main_file

In [ ]:
dx_bl = main_file[main_file['VISCODE']=='bl'][['RID','DX']]   # diagnosis baseline
dx_bl.columns = ['RID','DX_bl']
dx_bl['DX_bl'].unique()

In [ ]:
main_file = main_file.drop(['DX_bl'],axis=1)   # each RID should have only one diagnosis baseline
main_file = main_file.merge(dx_bl,how='left',on='RID')
main_file['DXCHANGE'].unique()

In [ ]:
main_file['DX_bl'].unique()

In [ ]:
main_file['DX'].unique()

In [ ]:
main_file.loc[(main_file['DX_bl'] == 'CN')&(main_file['DX']=='CN'), 'DXCHANGE'] = 'CN-CN'
main_file.loc[(main_file['DX_bl'] == 'MCI')&(main_file['DX']=='MCI'), 'DXCHANGE'] = 'MCI-MCI'
main_file.loc[((main_file['DX_bl'] == 'Dementia')|(main_file['DX_bl'] == 'AD'))&((main_file['DX']=='Dementia')|(main_file['DX'] == 'AD')), 'DXCHANGE'] = 'AD-AD'
main_file.loc[(main_file['DX_bl'] == 'CN')&(main_file['DX']=='MCI'), 'DXCHANGE'] = 'CN-MCI'
main_file.loc[(main_file['DX_bl'] == 'MCI')&((main_file['DX']=='Dementia')|(main_file['DX'] == 'AD')), 'DXCHANGE'] = 'MCI-AD'
main_file.loc[(main_file['DX_bl'] == 'CN')&((main_file['DX']=='Dementia')|(main_file['DX'] == 'AD')), 'DXCHANGE'] = 'CN-AD'
main_file.loc[(main_file['DX_bl'] == 'MCI')&(main_file['DX']=='CN'), 'DXCHANGE'] = 'MCI-CN'
main_file.loc[((main_file['DX_bl'] == 'Demencia')|(main_file['DX_bl'] == 'AD'))&(main_file['DX']=='MCI'), 'DXCHANGE'] = 'AD-MCI'
main_file.loc[((main_file['DX_bl'] == 'Demencia')|(main_file['DX_bl'] == 'AD'))&(main_file['DX']=='CN'), 'DXCHANGE'] = 'AD-CN'
main_file = main_file.replace({'DXCHANGE':{1.0:'CN-CN',2.0: 'MCI-MCI',3.0:'AD-AD',4.0:'CN-MCI',5.0:'MCI-AD',6.0:'CN-AD',7.0:'MCI-CN',8.0:'AD-MCI',9.0:'AD-CN'}})
main_file.to_csv('main_file.csv')
main_file['DXCHANGE'].unique()

In [ ]:
main_file.info()

brain volume